REACT_APP_FIREBASE_API_KEY=AIzaSyAg8pbna9axi72LVS8EyX4zW8G_c-w_E0k
REACT_APP_FIREBASE_AUTH_DOMAIN=studysync-9ad69.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=studysync-9ad69
REACT_APP_FIREBASE_STORAGE_BUCKET=studysync-9ad69.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1038961987344
REACT_APP_FIREBASE_APP_ID=1:1038961987344:web:f366f9b174388e20e39f95
REACT_APP_GOOGLE_CLIENT_ID=368584916177-l3madte6vb2h852io6cmtre35mrcj0vq.apps.googleusercontent.com
REACT_APP_API_BASE_URL=http://127.0.0.1:8000
